<div class="center-container">
  <h1>How to create our Angular 4 Application</h1>

  <ol>
    <li>Install <a href="https://nodejs.org/en/">NodeJs</a></li>
    <li>Install Angular CLI Globally - "$npm install -g @angular/cli"</li>
    <li>Create a new project - "$ng new my-app"</li>
    <li>"$cd my-app"</li>
    <li>Install packages - "$npm install"</li>
    <li>Run Application - "$ng serve" / "$npm start"</li>
  </ol>
  <br>
  <br>
  <a href="https://nodejs.org/en/">NodeJs</a> |
  <a href="https://angular.io/guide/quickstart">Angular Quick Start</a>

  <div class="img-wrapper">
    <img src="https://angular.io/generated/images/guide/cli-quickstart/app-works.png">
  </div>
</div>

